// Define variables for your color scheme

// My colors :

$my-dark: #496f5dff;
$my-light: #cfee9eff;
$my-punchy: #ff7e6bff;
$my-light-colored: #afc1d6ff;
$my-gray: #495057;
$my-light-gray: #adb5bd;

// dark green should be 11270b
