// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap');

// Define fonts for body and headers
$body-font: "Raleway", "sans-serif";
$headers-font: "Kanit", "sans-serif";

body {
  font-size: 100%;

  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.25em;
  }
  p {
    font-size: clamp(50%, 2vw, 18px);
  }
  a {
    font-size: 0.875em;
  }
}
