.home-colors {
  h1 {
    color: $my-punchy;
    margin-bottom: 3rem;
    text-align: center;
  }

  h3 {
    font-family: $body-font;
    color: $my-light-colored;
    margin-bottom: 2rem;
    text-align: center;
  }
}


