.full-height {
  height: 100vh;
}

.home-colors {
  background-color: $my-dark;

  h1 {
    color: $my-punchy;
    margin-bottom: 3rem;
    text-align: center;
  }

  p {
    color: $my-light-colored;
    margin-bottom: 2rem;
    text-align: center;
  }
}

.abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


