<div class="full-height">
  <div class="abs-center">
    <h1>BIENVENU SUR COINCH'COUNT !</h1>

    <p>Coinch'Count est un compteur de points simplifié pour la coinche.</p>

    <%= link_to 'Nouvelle partie', new_game_path %>

    <%= link_to 'List of all the games', games_path %>
  </div>
</div>
