<div class="full-height home-colors">
  <div class="abs-center">
    <h1>BIENVENU SUR COINCH'COUNT !</h1>

    <p>Coinch'Count est un compteur de points simplifié pour la coinche.</p>

    <%= link_to 'Nouvelle partie', new_game_path, class: 'regular-btn' %>

    <%= link_to 'Liste de toute les parties', games_path, class: 'transp-btn' %>
  </div>
</div>
