<div class="container full-height">
  <div class="abs-center">
    <table class="table">
      <thead>
        <tr>
          <td>GAMES</td>
        </tr>
      </thead>
      <tbody>
        <%= @games.each do |g| %>
          <tr>
            <td>
              <%= g.name %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
