<div class="container full-height">
  <div class="abs-center">
    <table class="table">
      <thead>
        <tr>
          <th>TEAM 1</th>
          <th>TEAM 2</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>80</td>
          <td>120</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Annonce</th>
          <th>Couleur</th>
          <th>Équipe</th>
          <th>Contrée/Surcontrée</th>
          <th>Belote</th>
          <th>Points</th>
          <th>Faite/Chutée</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>120</td>
          <td>Coeur</td>
          <td>1</td>
          <td>-</td>
          <td>Oui</td>
          <td>134</td>
          <td>Faite</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>


