// center the div in the middle of the screen
// size the form to 50% vw
.form-centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  min-width: 180px;
}

// keep entry fiels format
// change colors
// center fields' label
.form-style-classic {
  border: ;
}


// border bg-color change-label placeholders? center_submit style-button
// title centered
