.form-centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  min-width: 180px;
  max-width: 300px;
}

.form-style-classic {
  padding: 1rem;
  border: 2px solid $my-dark;
  background-color: $my-light-gray;

  p {
    font-size: clamp(10%, 2vw, 16px);
    color: $dark-blue;
    text-align: center;
  }

  label {
    font-size: clamp(10%, 3vw, 16px);
  }

  select {
    height: 1.75rem;
    font-size: 0.75rem;
  }
}

.form-title {
  width: 100%;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid $my-dark;
  text-align: center;

  h4 {
    margin-bottom: 1rem;
  }
}

.form-inputs {
// to be defined
}

.form-submit {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid $my-dark;
  font-size: clamp(10%, 2.75vw, 16px);
}
