.form-centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  min-width: 180px;
  max-width: 300px;
}

.form-style-classic {
  padding: 1.5rem;
  border: 2px solid $dark-blue;
  background-color: $light-gray;

  p {
    font-size: x-small;
  }
}

.form-title {
  width: 100%;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid $dark-blue;
  text-align: center;

  h4 {
    margin-bottom: 1rem;
  }
}

.form-submit {
  text-align: center;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid $dark-blue;
}

// style-button

