.table {
    border: solid 1px $my-gray;
    border-collapse: collapse;
    border-spacing: 0;
    font: $body-font;
    width: 75%;
}

.table thead tr th {
    background-color: $my-gray;
    border: solid 1px $my-punchy;
    font-size: clamp(10%, 1.75vw, 16px);
    color: $my-light;
    padding: 0.25rem;
    text-align: center;

    a {
      color: $my-light;
      text-decoration: underline;
      font-size: larger;
    }
}

.table tbody tr td {
    background-color: $my-light-gray;
    border: solid 1px $my-punchy;
    padding: 0.15rem;
    font-size: clamp(10%, 2vw, 14px);
    color: $dark-blue;
    text-align: center;

    a {
      color: $dark-blue;
      text-decoration: underline;
      font-size: smaller;
    }
}

.card-order-tables {
  display: flex;
  grid-gap: 16px;
  width: 75%;

  table {
    margin: 0;
  }
}

@media(max-width: 768px) {
  .card-order-tables {
    grid-template-column: 1fr;
    width: 100%;
  }

  .table {
    width: 100%;
  }
}
