.table {
    border: solid 1px $my-gray;
    border-collapse: collapse;
    border-spacing: 0;
    font: $body-font;
    width: 75%;
    min-width: 250px;
}

.table thead tr th {
    background-color: $my-gray;
    border: solid 1px $my-punchy;
    font-size: clamp(50%, 1.5vw, 18px);
    color: $my-light;
    padding: 0.25rem;
    text-align: center;

    a {
      color: $my-light;
      text-decoration: underline;
      font-size: larger;
    }
}

.table tbody tr td {
    background-color: $my-light-gray;
    border: solid 1px $my-punchy;
    padding: 0.25rem;
    font-size: clamp(40%, 1.5vw, 14px);
    color: $dark-blue;
    text-align: center;

    a {
      color: $dark-blue;
      text-decoration: underline;
      font-size: smaller;
    }
}

.card-order-tables {
  display: flex;
  justify-content: center;

  table {
    margin: 0 0.5rem;
    width: 30%;
    min-width:  auto;
  }
}
