.table {
    border: solid 1px $my-gray;
    border-collapse: collapse;
    border-spacing: 0;
    font: $body-font;
    width: 75%;
    min-width: 470px;
}

.table thead tr {
    background-color: $my-gray;
    border: solid 1px $my-gray;
    color: $my-light;
    padding: 10px;
    text-align: center;
}

.table tbody td {
    border: solid 1px $my-light-colored;
    color: $my-light-colored;
    padding: 10px;
    text-align: center;
}
